* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overscroll-behavior: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    display: grid;
    place-items: center;
}

main {
    height: 92svh; /* Use SVH to avoid toolbar overlap */
    max-height: 100dvh;
    width: 100%;
    max-width: 100dvw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section {
    padding: 5px;
    background: #fff;
}

.hidden {
    display: none;
}

@media (max-width: 420px) {
    .gauge {
        width: 88vmin;
    }
}